@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";
body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fc0;
}

#cv-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.8);
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

#cnv {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

h1, h2, h3 {
    font-family: 'Megrim', cursive;
    color: #fc0; /* Yellow */
    text-shadow: 0 0 5px rgba(100, 50, 255, 0.8); /* Purple */
    -webkit-text-stroke: 0.15vh #c0f; /* Purple */
}

a {
    color: #00ffff; /* Teal */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.back-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background-color: rgba(100, 50, 255, 0.7);
    border: 2px solid #c0f;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fc0;
    text-decoration: none;
    -webkit-text-stroke: 0.15vh #c0f;
    z-index: 10;
}

.back-button:hover {
    background-color: rgba(100, 50, 255, 0.9);
}
