@import url("https://use.typekit.net/jmk3xov.css");
@import "https://fonts.googleapis.com/css2?family=Megrim&display=swap";

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  background-color: transparent;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
  background: transparent;
}

blockquote p {
  color: white;
  background-color: transparent;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

/* Add the new style for the #word element */
#word{
  font-family: Megrim, cursive;
  font-size: 10;
  position: relative;
  margin: 10;
  /*bottom: 0;*/
  color: #fc0;
  -webkit-text-stroke: 0.15vh #c0f;
}

#work-history-link {
  text-decoration: none;
  color: inherit;
}

.scroll-arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  z-index: 10;
}

.arrow {
  width: 100px;
  height: 50px;
  stroke: rgba(255, 255, 102, 0.7);
  fill: none;
  stroke-width: 2;
  animation: flash 1s linear infinite;
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.project-link {
  color: #fc0; /* Yellow */
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #00ffff; /* Teal */
}

.linkedin-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.linkedin-icon img {
  width: 60px;
  height: 60px;
}